@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ravi Prakash', cursive;
    display: flex;
    background-color:beige;
    flex-direction: column;
}

h1{
    font-size:2em;
    text-align: center;
}
/* NAVBAR */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
    padding-top: 0.5em;
    background-color:rgb(0, 0, 0);
    text-align: center;
    color:white;
    border-right: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}
nav ul li:hover{
  background-color: rgb(189, 41, 181);
}
nav ul li{
  padding: 10px 0;
}
nav ul{
    margin-top: 10px;
}

nav input{
    margin: 20px 0;
    width:90%;
    border:2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    padding: 0.3em;
}
nav input::placeholder{
  font-size:0.8em;
  text-align: center;
  
}

/* TODOS OS BUTOES */
button{
  background-color:black;
  color:white;
  padding:5px;
  border:0;
  border-radius:5px;
  transition:.5s;
  transform:scale(1);
}

button:hover{
  background-color:rgb(189, 41, 181);
  transform: scale(1.1);
}

/* MAIN SECTION */
section.main{
    display: flex;
    margin-left: 15vw;
    flex-direction: column;
    width: 85vw;
    padding: 0.5em;
    justify-content:space-between;
    height:100vh;
}

.main article{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5em;
    
}
.main article img{
    width:200px;
    margin:20px auto;
}

.main article.image{
    display: flex;
    padding: 1em; 
    margin:0 auto;
}

/* FILTROS ALCOHOLIC/NON */
section.searchFilters{
    margin-left: 20vw;
    margin: 0 auto;
    display: flex;
    padding:0.7em;
}

section.searchFilters article{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

section.searchFilters input{
    margin-right:20px;
}

/* GRID PROCURA DRINKS */
section.drinks{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:3px;
    margin-left:15vw;
    text-align: center;
    width: 85vw;
}

section.drinks article{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: .7em;
}

.drinks img{
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.drinks p{
    font-size:0.7em;
}

/* HIDE GERAL */
.hide{
    display:none;
}


/* POPUP STYLE */
div.popup{
    position: absolute;
    background: rgba(0, 0, 0, 0.507);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    cursor: pointer;
    position:fixed;
}

.popup article{
  background-image: url(../img/paper.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  max-width: 70%;
  max-height: 90%;
  display: flex;
  padding:0.3em;
  margin:0 auto;
  text-align: center;
  border:3px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.popup article img{
  width:200px;
  height:200px;
  border:2px solid black;
  border-radius:5px;
}

.popup.open {
    display:flex;
    cursor: pointer;
    align-items: center;
    transform: scale(1);
}

div.popupText{
  width: 100%;
  padding:0.7em;
}

div.popupText h1 , .popup h3{
  text-align: center;
}

div.popupText .first{
  margin-top:15px;
}

div.popupText p{  
  font-family: 'Freehand', cursive;
  font-size: 1.2em;
}

/* MYFAVOURITES SECTION */
section.myFavourites{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:3px;
  margin-left:15vw;
  width: 85vw;
  padding:0.7em;
}

section.myFavourites article{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: .7em;
    text-align: center;
}

/* GALERIA IMAGENS */
div.imgColumn{
  float:left;
  width:25%;
  padding:1em;
}

div.imgColumn img{
  opacity:0.8;
  cursor:pointer;
  width: 100%;
  filter: grayscale(100%);
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.imgColumn img:hover{
  filter: grayscale(0);
}

div.imgRow:after{
  content:"";
  display:table;
  clear:both;
}

div.fullImgContainer{
  position:relative;
}

div.fullImgContainer img{
  width:400px;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  transition: all 700ms;
}

.fullImgContainer img:hover{
    position:relative;
    width:500px;
    height:auto;
    transition-timing-function:ease-out;
}

div.imgText{
  text-align:center;
  width:100%;
  font-size:1.7em;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

/* POPUP QUANDO ADDED TO FAVOURITES */
div.alert {
  position:fixed;
  top:1px;
  right:1px;
  padding: 20px;
  background-color: green;
  color: white;
  border-radius:10px;
}

/* MY RECIPES SECTION */
section.myRecipes{
  margin-left:15vw;
  width:85vw;
  padding: 0.5em;
}

div.recipes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:3px;
    text-align: center;
}

div.recipes article {
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: .7em;
}

.recipes img{
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height:200px;
}

/* ALCOHOLIC DRINKS SECTION */
section.alcoholicSection{
  margin-left:15vw;
  width:85vw;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:3px;
}

section.alcoholicSection article{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: .7em;
    text-align: center;
}

/* NONALCOHOLIC DRINKS SECTION */
section.nonAlcoholicSection{
  margin-left:15vw;
  width:85vw;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:3px;
}

section.nonAlcoholicSection article{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: .7em;
    text-align: center;
}